.btn-group-lg > .btn, .btn-lg {
	border-radius:3px!important;
}

.btn-style{
	background:#FFF;
	border-color:#ccc;
}

.btn-style:hover, .btn-style:focus{
	background:#FFF;
	color:#337ab7;
}

.btn-style:active{
	background:#337ab7;
	color:#FFF;
	border-color:#000;
}
button.btn-style{
	background:#FFF;
	border-color:#ccc;
}

button.btn-style:hover, button.btn-style:focus{
	background:#FFF;
	color:#337ab7;
}

button.btn-style:active{
	background:#337ab7;
	color:#FFF;
	border-color:#000;
}
a.btn-style{
	background:#FFF;
	border-color:#ccc;
}

a.btn-style:hover, a.btn-style:focus{
	background:#FFF;
	color:#337ab7;
}

a.btn-style:active{
	background:#337ab7;
	color:#FFF;
	border-color:#000;
}
.btn-style-alt,
button.btn-style-alt,
input.btn-style-alt,
a.btn-style-alt {
	background:#628296;
	border-color:#628296;
	color:#a9b9c2;
}

.btn-style-alt:hover,
.btn-style-alt:focus,
button.btn-style-alt:hover,
button.btn-style-alt:focus,
input.btn-style-alt:hover,
input.btn-style-alt:focus,
a.btn-style-alt:hover,
a.btn-style-alt:focus {
	background:#526b77;
	color:#fff;
}

.btn-style-alt:active,
input.btn-style-alt:active,
button.btn-style-alt:active,
a.btn-style-alt:active {
	background:#fff;
	color:#526b77;
	border-color:#526b77;
}



.btn-style-w{
	background-color: rgba(51, 122, 188, 0.3)!important;
	border-color:#fff !important;
	color:#fff !important;
	margin:5px 5px 5px 5px;
	}

	.btn-style-w:hover{
		background-color: rgba(0, 0, 0, 0.4)!important;
		-webkit-transition: opacity .15s ease-in-out;
		-moz-transition: opacity .15s ease-in-out;
		-ms-transition: opacity .15s ease-in-out;
		-o-transition: opacity .15s ease-in-out;
		transition: opacity .15s ease-in-out;
		}

.text-link-style {
	color:#000;
}
.text-link-style:hover, .text-link-style:focus {
	color:#337ab7;
}

input[type="radio"] {
    border-radius: 0px !important;
}

button.btn-greytone{
	background:#fff;
	border-color: #ccc;
	color:#333;
}

button.btn-greytone:hover, button.btn-greytone:focus{
	color:#337ab7;
	background:#d6d6d6;
}

button.btn-greytone:active{
	background:#ccc;
	color:#000;
}
.text-alt{
	color:#FFF !important;

}

.text-alt:hover, .text-alt:focus{
	color:#337ab7 !important;

}

.text-alt:active{

	color:#000 !important;

}
