.btn-group-lg > .btn, .btn-lg {
	border-radius:3px!important;
}
.btn-style{
	background:#FFF;
	border-color:#ccc;
}

.btn-style:hover, .btn-style:focus{
	background:#FFF;
	color:#337ab7;
}

.btn-style:active{
	background:#337ab7;
	color:#FFF;
	border-color:#000;
}
button.btn-style{
	background:#FFF;
	border-color:#ccc;
}

button.btn-style:hover, button.btn-style:focus{
	background:#FFF;
	color:#337ab7;
}

button.btn-style:active{
	background:#337ab7;
	color:#FFF;
	border-color:#000;
}
a.btn-style{
	background:#FFF;
	border-color:#ccc;
}

a.btn-style:hover, a.btn-style:focus{
	background:#FFF;
	color:#337ab7;
}

a.btn-style:active{
	background:#337ab7;
	color:#FFF;
	border-color:#000;
}

a.btn-style-alt{
	background:#337ab7;
	color:#FFF;
	border-color:#ccc;
}

a.btn-style-alt:hover, a.btn-style-alt:focus{
	background:#FFF;
	color:#337ab7;

}

a.btn-style-alt:active{
	background:#FFF;
	color:#000;
	border-color:#ccc;
}
button.btn-style-alt{
	background:#337ab7;
	color:#FFF;
	border-color:#ccc;
}

button.btn-style-alt:hover, a.btn-style-alt:focus{
	background:#FFF;
	color:#337ab7;
	border-color:#ccc;
}

button.btn-style-alt:active{
	background:#FFF;
	color:#000;
	border-color:#ccc;
}


.btn-style-w{
	background-color: rgba(0, 0, 0, 0.3)!important;
	border-color:#fff !important;
	color:#fff !important;
	}

	.btn-style-w:hover{
		background-color: rgba(0, 0, 0, 0.6)!important;
		}

.text-link-style {
	color:#000;
}
.text-link-style:hover, .text-link-style:focus {
	color:#337ab7;
}
