.btn-group-lg > .btn, .btn-lg {
	border-radius:3px!important;
}
.btn-style{
	background:#FFF;
	border-color:#ccc;
}

.btn-style:hover, .btn-style:focus{
	background:#FFF;
	color:#60A0FF;
}

.btn-style:active{
	background:#60A0FF;
	color:#FFF;
	border-color:#000;
}

a.btn-style{
	background:#FFF;
	border-color:#ccc;
}

a.btn-style:hover, a.btn-style:focus{
	background:#FFF;
	color:#60A0FF;
}

a.btn-style:active{
	background:#60A0FF;
	color:#FFF;
	border-color:#000;
}

a.btn-style-alt{
	background:#60A0FF;
	color:#FFF;
	border-color:#ccc;
}

a.btn-style-alt:hover, a.btn-style-alt:focus{
	background:#FFF;
	color:#60A0FF;

}

a.btn-style-alt:active{
	background:#FFF;
	color:#000;
	border-color:#ccc;
}
button.btn-style-alt{
	background:#60A0FF;
	color:#FFF;
	border-color:#ccc;
}

button.btn-style-alt:hover, a.btn-style-alt:focus{
	background:#FFF;
	color:#60A0FF;
	border-color:#ccc;
}

button.btn-style-alt:active{
	background:#FFF;
	color:#000;
	border-color:#ccc;
}
<<<<<<< HEAD

.btn-style-w{
	background:none !important;
	border-color:#fff !important;
	color:#fff !important;
	&:hover {
		background:#0D1524;
	}
=======
.text-link-style {
	color:#000;
}
.text-link-style:hover, .text-link-style:focus {
	color:#60A0FF;
>>>>>>> f7da941fc8f2ec5903f0b9ff9ad23b0a5067d705
}
