//
//  =========================================================
//  DEMHUB
//  Sass Stylesheet
//  =========================================================
//
//
//  =========================================================
//  Cards
//  =========================================================
//
.peoplebox {
  min-width: 100%;
  height:370px;
  display:inline-block;
  margin:10px 0px 5px 0px;
  padding:15px 0px 5px 0px;
  border:1px
  solid #ddd;
  float:left;
  position:relative;
  text-transform: capitalize;
}
.peoplebox-teaser {
  min-width: 100%;
  height:150px;
  display:inline-block;
  margin:10px 0px 5px 0px;
  padding:15px 0px 5px 0px;
  border:1px
  solid #ddd;
  float:left;
  position:relative;
  text-transform: capitalize;
}
.main-orange {
   color: #ed6b00;
}
.main-blue-color {
   color:#35464d;
}
#triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
  display:inline;
}
