//landing page divison tabs//

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

div.division-landing-box {
    max-height: 220px;
    min-height: 110px;
    color:#fff;
<<<<<<< HEAD
    max-width: 600px;
    padding:10px 10px 10px 10px;
    &:hover {
        div.division-landing-color{
          opacity: 1;
        }
    }

    // h3 {
    //   position:absolute;
    //   margin-top: 320px;
    //   z-index: 5;
    // }

  div.division-landing-icon {
      margin-left:50%;
      z-index: 5;
      width: 140px;
      position: absolute;
      display: block;
      // background-color: red;
    }
=======
>>>>>>> 8cc2fe7e84e35498bb3c06c21e9acd86cd73b535

  div.division-landing-color{
      width:90%;
      height:100%;
      opacity: 0.6;
<<<<<<< HEAD
      z-index: 0;
      position: absolute;
      @include centerer;
=======
      position: absolute;
      @include centerer;
      z-index: 0;
      background-color: #fff;
>>>>>>> 8cc2fe7e84e35498bb3c06c21e9acd86cd73b535
    }

    h3 {
      @include centerer;
      z-index: 5;
      text-transform: uppercase;
      width: 80%;
      height:80%;
      position: relative; }
}

div.auth-modal-email {
  width: 100%;
  height: 100%;
  padding:auto 20px auto 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  div.division-landing-box {
    width:100%;
    height:110px;
    }
}
