
//defines all icon properties//
[class^="icon-"]{
  display:block;
  width:52px;
  height:52px;
  background:url('../../images/icons/sprite.svg');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index:1000;
  fill:white;
  margin-left: auto;
   margin-right: auto;
  //just an inspiration if want to fill icon with gradient/images. use mask
  //-webkit-mask: url('../../images/icons/sprite.svg');
 //mask: url('../../images/icons/sprite.svg');
}

// .icon {
// 	display: inline-block;
// 	background-repeat: no-repeat;
// 	background-image: url('../../images/icons/sprite.svg');
// 	/*background-color: #215ab7;*/
// }
.icon-add {
	width: 64px;
	height: 64px;
	background-position: 0 0;
}
.icon-comment {
	width: 64px;
	height: 64px;
	background-position: -80px 0;
}
.icon-continuity {
	width: 64px;
	height: 64px;
	background-position: -160px 0;
}
.icon-continuity-box {
	width: 64px;
	height: 64px;
	background-position: -240px 0;
}
.icon-continuity-circle {
	width: 64px;
	height: 64px;
	background-position: -320px 0;
}
.icon-delete {
	width: 64px;
	height: 64px;
	background-position: -400px 0;
}
.icon-discuss {
	width: 64px;
	height: 64px;
	background-position: -480px 0;
}
.icon-edit {
	width: 64px;
	height: 64px;
	background-position: -560px 0;
}
.icon-health {
	width: 64px;
	height: 64px;
	background-position: -640px 0;
}
.icon-health-box {
	width: 64px;
	height: 64px;
	background-position: -720px 0;
}
.icon-health-circle {
	width: 64px;
	height: 64px;
	background-position: -800px 0;
}
.icon-humanitarian {
	width: 64px;
	height: 64px;
	background-position: -880px 0;
}
.icon-humanitarian-box {
	width: 64px;
	height: 64px;
	background-position: -960px 0;
}
.icon-humanitarian-circle {
	width: 64px;
	height: 64px;
	background-position: -1040px 0;
}
.icon-like {
	width: 64px;
	height: 64px;
	background-position: -1120px 0;
}
.icon-mail {
	width: 64px;
	height: 64px;
	background-position: -1200px 0;
}
.icon-media {
	width: 64px;
	height: 64px;
	background-position: 0 -80px;
}
.icon-news {
	width: 64px;
	height: 64px;
	background-position: -80px -80px;
}
.icon-practice {
	width: 64px;
	height: 64px;
	background-position: -160px -80px;
}
.icon-practice-box {
	width: 64px;
	height: 64px;
	background-position: -240px -80px;
}
.icon-practice-circle {
	width: 64px;
	height: 64px;
	background-position: -320px -80px;
}
.icon-reply {
	width: 64px;
	height: 64px;
	background-position: -400px -80px;
}
.icon-report {
	width: 64px;
	height: 64px;
	background-position: -480px -80px;
}
.icon-research {
	width: 64px;
	height: 64px;
	background-position: -560px -80px;
}
.icon-response {
	width: 64px;
	height: 64px;
	background-position: -640px -80px;
}
.icon-science {
	width: 64px;
	height: 64px;
	background-position: -720px -80px;
}
.icon-science-box {
	width: 64px;
	height: 64px;
	background-position: -800px -80px;
}
.icon-science-circle {
	width: 64px;
	height: 64px;
	background-position: -880px -80px;
}
.icon-search {
	width: 64px;
	height: 64px;
	background-position: -960px -80px;
}
.icon-searchbox {
	width: 64px;
	height: 64px;
	background-position: -1040px -80px;
}
.icon-security {
	width: 64px;
	height: 64px;
	background-position: -1120px -80px;
}
.icon-security-box {
	width: 64px;
	height: 64px;
	background-position: -1200px -80px;
}
.icon-security-circle {
	width: 64px;
	height: 64px;
	background-position: 0 -160px;
}
.icon-share {
	width: 64px;
	height: 64px;
	background-position: -80px -160px;
}
.icon-tag {
	width: 64px;
	height: 64px;
	background-position: -160px -160px;
}
.icon-track {
	width: 64px;
	height: 64px;
	background-position: -240px -160px;
}
.icon-upload {
	width: 64px;
	height: 64px;
	background-position: -320px -160px;
}
.icon-view {
	width: 64px;
	height: 64px;
	background-position: -400px -160px;
}
.icon-VIP {
	width: 64px;
	height: 64px;
	background-position: -480px -160px;
}
.icon-division-01 {
	width: 64px;
	height: 64px;
	background-position: -560px -160px;
}
.icon-division-02 {
	width: 64px;
	height: 64px;
	background-position: -640px -160px;
}
.icon-division-03 {
	width: 64px;
	height: 64px;
	background-position: -720px -160px;
}
.icon-division-04 {
	width: 64px;
	height: 64px;
	background-position: -800px -160px;
}
.icon-division-05 {
	width: 64px;
	height: 64px;
	background-position: -880px -160px;
}
.icon-division-06 {
	width: 64px;
	height: 64px;
	background-position: -960px -160px;
}
.icon-pencil {
	max-width: 64px;
	height: 64px;
	background-position: 0 -240px;
}
.icon-pencil2 {
	width: 64px;
	height: 64px;
	background-position: -80px -240px;
}
.icon-users {
	width: 72px;
	height: 64px;
	background-position: -160px -240px;
}
.icon-user-plus {
	width: 64px;
	height: 64px;
	background-position: -320px -240px;
}
.icon-user-minus {
	width: 64px;
	height: 64px;
	background-position: -400px -240px;
}
.icon-cancel-circle {
	width: 64px;
	height: 64px;
	background-position: -480px -240px;
}
.icon-cross {
	width: 64px;
	height: 64px;
	background-position: -560px -240px;
}
.icon-checkmark {
	width: 64px;
	height: 64px;
	background-position: -640px -240px;
}
.icon-feed2 {
	width: 64px;
	height: 64px;
	background-position: -720px -240px;
}
.icon-feed4 {
	width: 64px;
	height: 64px;
	background-position: -800px -240px;
}
.icon-linkedin {
	width: 64px;
	height: 64px;
	background-position: -880px -240px;
}
.icon-linkedin2 {
	width: 64px;
	height: 64px;
	background-position: -960px -240px;
}

@media (max-width: 991px) {
  .icon-response,
  .icon-health,
  .icon-science,
  .icon-practice,
  .icon-continuity,
  .icon-humanitarian,
  .icon-security {
    display:none;
    }
  }

  // arrow icon scroll down Animations
  @-webkit-keyframes scroll-ani {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }

  @-moz-keyframes scroll-ani {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }

  @keyframes scroll-ani {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }

  // Mouse & Message Styles

  // The Scroll Link
  .mouse-scroll {
    display: inline;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7F8C8D;
    color: #FFF;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 10%;
    text-decoration: none;
    overflow: hidden;

    // The Mouse
    .mouse {
      position: absolute;
      display: inline;
      width: 25px;
      height: 38px;
      margin: 0 auto 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 3px solid #FFF;
      border-radius: 23px;

      // Scroll Indicator
      .mouse-movement {
        position: absolute;
        display: inline;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: #FFF;
        border-radius: 50%;
        -webkit-animation: scroll-ani 4s linear infinite;
        -moz-animation: scroll-ani 4s linear infinite;
        animation: scroll-ani 4s linear infinite;
      }

    }

    // The Scroll Message
    .mouse-message {
        float: left;
        margin: -200px 0 0 7px;
        padding: 0;
        -webkit-animation: scroll-ani 4s linear infinite;
      -moz-animation: scroll-ani 4s linear infinite;
      animation: scroll-ani 4s linear infinite;
    }

    // shown on Hover of The Mouse
    &:hover {
      .mouse-message {
        margin-top: 0;
      }
    }

  }
