//landing page styles
//

#welcome_home {
  // font-weight: bolder;
  // font-family: 'Open Sans', sans-serif;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background-position: center center;
  // overflow-x: hidden;
  // margin-top: 0px;
}

.lading-logo {
position: absolute !important;
top:50% !important;
margin-top: 50%;
}
