html, body {
	height: 100%;
}

.userhome-body{
  background-color: #f5f5f5;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
  background-color: #f5f5f5;
}
