.navbar-default {
	border: none!important;
}

div.navbar-inverse {
	border: none!important;
	background:#ddd;
	color:#666666;
}

.navbar-inverse a {
	color:#666666;
}

// division and variables

@mixin text_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

$div_text_color:  #fff !default;




//actual stylesheet
.navigation_properties {
  color:  $div_text_color;
  @include text_center;
  color: #fff;
}
