.feedsbox {
  min-width: 100%;
  height:300px;
  display:inline-block;
  margin:10px 0px 5px 0px;
  padding:15px 0px 5px 0px;
  border:1px
  solid #ddd;
  float:left;
  position:relative;
  z-index: 0 !important;
}
.inner-feedsbox {
  padding-left: 10px;
  padding-right:10px;
}
