//main design
.pub-space {
  margin-top:60px;
}
.publication-list{
  height:100%;
}

.publication-update {
 @extend .pub-space;
display: block;
height:300px;
width:100%;
background-color: #ddd;
}

.publication-each{
  ul{
    list-style: none;
    line-height: 95%;
  }
  li{

  }
}
.pub-author{
  line-height: 90%;
}
.pub-title{
  color:#000;
  font-weight: 300;
}

.pub-descrip{
  line-height:90%;
}

.publication-update-number{
  float:right;
  margin-right:40px;
}
//responsive
@media (min-width: 1199px){
}
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}
