//main design
.pub-space {
  margin-top:60px;
}

hr.style1{
	border-top: 1px solid #ddd;
  margin-top: 40px;
  height: 10%;
  width: 100%;
}
hr.style1{
	border-top: 1px solid #ddd;
  height: 60%;
}
hr.style4 {
	border-top: 1px dotted #8c8b8b;
}
.publication-list{
  position: relative;
}

.publication-update {
 @extend .pub-space;
display: block;
height:300px;
width:100%;
background-color: #fff;
}

.publication-each{
  width: 100%;
  height: auto;
  line-height: 95%;
  display: block;

  // border-bottom-style: dotted;
  ul{
    list-style: none;
  }
  li{
  }
}

.publication-left{
  width:70%;
  padding-right:10px;
  display: inline-block;
  height: 100%;
  float: left;
  margin-bottom: 20px;
}

li.pub-author{
  font-weight: bold;
  margin-top:10px;
}
li.pub-title{
  color:#337AB7;
  font-weight: 300;
  margin-top: -15px;
  line-height: 97%;
  display: inline-block;
  float:left;
  max-width: calc(100% - 70px);
  overflow-x: hidden;
}

li.pub-descrip{
  margin-top: 10px;
  style:none;
}

.publication-right{
  width:30%;
  float: right;
  height: 100%;
  display: inline;
  li{
    display: block;
    margin-right:7px;
    min-height:15px;
  }
}
.icon-container{
margin-left: -42px;
  li{
    display: inline-block;
  }
  i{
    margin: 0px 4px 0px 0px;
    opacity: 0.4;
  }
}

.pub-dropdown{
margin-top: 30px;
width: 140%;
margin-left: 5%;
}

.publication-update-number{
  float:right;
  margin-right:40px;
  padding-right:10px;
  height:100%;
}
//responsive
@media (min-width: 1199px){
}
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}
