//all new variables.

@mixin text_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

$div_text_color:  #fff !default;
$health_color: #0D8E56;
$science_color: #1D73A3;
$response_color: #DB9421;
$security_color: #848889;
$continuity_color: #933131;
$humanitarian_color: #754293;

.division-text_health {
	  color:$health_color;
	}
.division-text_science {
	  color:$science_color;
	}
.division-text_response {
	  color:$response_color;
	}
.division-text_security {
	  color:$security_color;
		}
.division-text_continuity {
	  color:$continuity_color;
	}
.division-text_humanitarian {
	  color:$humanitarian_color;
	}
  .division_health {
  	  background-color:$health_color;
  	}
  .division_science {
  	  background-color:$science_color;
  	}
  .division_response {
  	  background-color:$response_color;
  	}
  .division_security {
  	  background-color:$security_color;
  		}
  .division_continuity {
  	  background-color:$continuity_color;
  	}
  .division_humanitarian {
  	  background-color:$humanitarian_color;
  	}

.division_all {
    background-color:#35464d;
  	}
.division_1 {
	  background-color:$health_color;
	}
.division_2 {
	  background-color:$science_color;
	}
.division_3 {
	  background-color:$response_color;
	}
.division_4{
	  background-color:$security_color;
		}
.division_5 {
	  background-color:$continuity_color;
	}
.division_6 {
	  background-color:$humanitarian_color;
	}
.division_7 {
  	  background-color:#35464d;
  	}

.color-label {
    width:100%;
    height: 5%;
    display:block;
    float:left;
    margin-top:-15px;

}
.color-label-vertical {
    width:20px;
    display:block;
    float:left;
    margin-top:0px;

}


//actual stylesheet
// .navigation_properties {
//   color:  $div_text_color;
//   @include text_center;
//   color: #fff;
// }
//
// //eg

//
//
//
// .health {
//   background-color: $health_color;
// }
