//all new variables.

@mixin text_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

$div_text_color:  #fff !default;
$health_color: #0D8E56;
$academia_color: #1D73A3;
$response_color: #DB9421;
$security_color: #848889;
$continuity_color: #933131;
$humanitarian_color: #754293;

.division_health {
	  background-color:$health_color;
	}
.division_academia {
	  background-color:$academia_color;
	}
.division_response {
	  background-color:$response_color;
	}
.division_security {
	  background-color:$security_color;
		}
.division_continuity {
	  background-color:$continuity_color;
	}
.division_humanitarian {
	  background-color:$humanitarian_color;
	}

.color-label_health {
    width:111.25%;
    height: 5%;
    background:$health_color;
    display:block;
    float:left;

}
.color-label_academia {
    width:111%;
    height: 5%;
    background:$academia_color;
    display:block;
    float:left;
    margin:-16px;
}
.color-label_response {
    width:111%;
    height: 5%;
    background:$response_color;
    display:block;
    float:left;
    margin:-16px;
}
.color-label_security {
    width:111%;
    height: 5%;
    background:$security_color;
    display:block;
    float:left;
    margin:-16px;
}
.color-label_continuity {
    width:111%;
    height: 5%;
    background:$continuity_color;
    display:block;
    float:left;
    margin:-16px;
}
.color-label_humanitarian {
    width:111%;
    height: 5%;
    background:$humanitarian_color;
    display:block;
    float:left;
    margin:-16px;
}


//actual stylesheet
// .navigation_properties {
//   color:  $div_text_color;
//   @include text_center;
//   color: #fff;
// }
//
// //eg

//
//
//
// .health {
//   background-color: $health_color;
// }
