.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(icon.svg);
	-webkit-background-size: 47.0em 41.5em;
	 background-size: 47.0em 41.5em;
}

.division_continity-circle {
	width: 2em;
	height: 2em;
	background-position: 0em 0em;
	fill: #aa0bb7;
}

.division_continity-circle path{
		fill: #aa0bb7;
}

.division_continuity-box {
	width: 2em;
	height: 2em;
	background-position: -3em 0em;
}
.division_continuity-square {
	width: 2em;
	height: 2em;
	background-position: -6em 0em;
}
.division_continuity {
	width: 2em;
	height: 2em;
	background-position: -9em 0em;
}
.division_demhub-box {
	width: 2em;
	height: 2em;
	background-position: -12em 0em;
}
.division_demhub-circle {
	width: 2em;
	height: 2em;
	background-position: -15em 0em;
}
.division_demhub {
	width: 2em;
	height: 2em;
	background-position: -18em 0em;
}
.division_health-box {
	width: 2em;
	height: 2em;
	background-position: -21em 0em;
}
.division_health-circle {
	width: 2em;
	height: 2em;
	background-position: -24em 0em;
}
.division_health-square {
	width: 2em;
	height: 2em;
	background-position: -27em 0em;
}
.division_health {
	width: 2em;
	height: 2em;
	background-position: -30em 0em;
}
.division_humanitarian-box {
	width: 2em;
	height: 2em;
	background-position: -33em 0em;
}
.division_humanitarian-circle {
	width: 2em;
	height: 2em;
	background-position: -36em 0em;
}
.division_humanitarian-square {
	width: 2em;
	height: 2em;
	background-position: -39em 0em;
}
.division_humanitarian {
	width: 2em;
	height: 2em;
	background-position: -42em 0em;
}
.division_practice-box {
	width: 2em;
	height: 2em;
	background-position: -45em 0em;
}
.division_practice-circle {
	width: 2em;
	height: 2em;
	background-position: 0 -3em;
}
.division_practice-square {
	width: 2em;
	height: 2em;
	background-position: -3em -3em;
}
.division_practice {
	width: 2em;
	height: 2em;
	background-position: -6em -3em;
}
.division_science-box {
	width: 2em;
	height: 2em;
	background-position: -9em -3em;
}
.division_science-circle {
	width: 2em;
	height: 2em;
	background-position: -12em -3em;
}
.division_science {
	width: 2em;
	height: 2em;
	background-position: -15em -3em;
}
.division_secience-square {
	width: 2em;
	height: 2em;
	background-position: -18em -3em;
}
.division_security-box {
	width: 2em;
	height: 2em;
	background-position: -21em -3em;
}
.division_security-circle {
	width: 2em;
	height: 2em;
	background-position: -24em -3em;
}
.division_security-square {
	width: 2em;
	height: 2em;
	background-position: -27em -3em;
}
.division_security {
	width: 2em;
	height: 2em;
	background-position: -30em -3em;
}
.error {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -6em;
}
.error_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -6em;
}
.warning {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -6em;
}
.add_alert {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -6em;
}
.fast_forward {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -6em;
}
.fast_rewind {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -6em;
}
.loop {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -6em;
}
.mic {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -6em;
}
.mic_none {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -6em;
}
.mic_off {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -6em;
}
.movie {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -6em;
}
.pause {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -6em;
}
.pause_circle_filled {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -6em;
}
.pause_circle_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -6em;
}
.play_arrow {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -6em;
}
.play_circle_filled {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -6em;
}
.play_circle_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -8.5em;
}
.playlist_add {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -8.5em;
}
.repeat {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -8.5em;
}
.replay {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -8.5em;
}
.skip_next {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -8.5em;
}
.skip_previous {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -8.5em;
}
.stop {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -8.5em;
}
.volume_down {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -8.5em;
}
.volume_mute {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -8.5em;
}
.hd {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -8.5em;
}
.call_made {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -8.5em;
}
.call_merge {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -8.5em;
}
.call_missed {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -8.5em;
}
.call_received {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -8.5em;
}
.call_split {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -8.5em;
}
.chat {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -8.5em;
}
.comment2 {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -11em;
}
.location_off {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -11em;
}
.location_on {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -11em;
}
.message {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -11em;
}
.chat_bubble {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -11em;
}
.chat_bubble_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -11em;
}
.add_box {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -11em;
}
.add_circle {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -11em;
}
.add_circle_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -11em;
}
.backspace {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -11em;
}
.block {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -11em;
}
.clear {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -11em;
}
.drafts {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -11em;
}
.flag {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -11em;
}
.forward {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -11em;
}
.mail2 {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -11em;
}
.markunread {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -13.5em;
}
.redo {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -13.5em;
}
.remove {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -13.5em;
}
.remove_circle {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -13.5em;
}
.remove_circle_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -13.5em;
}
.reply2 {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -13.5em;
}
.reply_all {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -13.5em;
}
.report2 {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -13.5em;
}
.undo {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -13.5em;
}
.bluetooth {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -13.5em;
}
.bluetooth_connected {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -13.5em;
}
.bluetooth_disabled {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -13.5em;
}
.insert_drive_file {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -13.5em;
}
.insert_emoticon {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -13.5em;
}
.insert_photo {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -13.5em;
}
.mode_comment {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -13.5em;
}
.publish {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -16em;
}
.vertical_align_bottom {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -16em;
}
.vertical_align_center {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -16em;
}
.vertical_align_top {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -16em;
}
.cloud {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -16em;
}
.cloud_circle {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -16em;
}
.cloud_done {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -16em;
}
.cloud_download {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -16em;
}
.cloud_off {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -16em;
}
.cloud_queue {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -16em;
}
.file_download {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -16em;
}
.file_upload {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -16em;
}
.folder {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -16em;
}
.folder_open {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -16em;
}
.keyboard_arrow_down {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -16em;
}
.keyboard_arrow_left {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -16em;
}
.keyboard_arrow_right {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -18.5em;
}
.keyboard_arrow_up {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -18.5em;
}
.keyboard_backspace {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -18.5em;
}
.keyboard_capslock {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -18.5em;
}
.keyboard_voice {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -18.5em;
}
.camera {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -18.5em;
}
.filter_drama {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -18.5em;
}
.movie_creation {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -18.5em;
}
.panorama {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -18.5em;
}
.photo_library {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -18.5em;
}
.picture_as_pdf {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -18.5em;
}
.remove_red_eye {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -18.5em;
}
.local_library {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -18.5em;
}
.local_see {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -18.5em;
}
.location_history {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -18.5em;
}
.map {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -18.5em;
}
.navigation {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -21em;
}
.pin_drop {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -21em;
}
.place {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -21em;
}
.arrow_back {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -21em;
}
.arrow_drop_down {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -21em;
}
.arrow_drop_down_circle {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -21em;
}
.arrow_drop_up {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -21em;
}
.arrow_forward {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -21em;
}
.check {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -21em;
}
.chevron_left {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -21em;
}
.chevron_right {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -21em;
}
.close {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -21em;
}
.expand_less {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -21em;
}
.expand_more {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -21em;
}
.menu {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -21em;
}
.keyboard_control {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -21em;
}
.more_vert {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -23.5em;
}
.sms {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -23.5em;
}
.notifications_none {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -23.5em;
}
.notifications_off {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -23.5em;
}
.notifications_active {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -23.5em;
}
.people {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -23.5em;
}
.people_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -23.5em;
}
.person {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -23.5em;
}
.person_add {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -23.5em;
}
.person_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -23.5em;
}
.public {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -23.5em;
}
.share {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -23.5em;
}
.check_box {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -23.5em;
}
.star {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -23.5em;
}
.star_half {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -23.5em;
}
.star_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -23.5em;
}
.android {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -26em;
}
.announcement {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -26em;
}
.assessment {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -26em;
}
.assignment {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -26em;
}
.assignment_ind {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -26em;
}
.build {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -26em;
}
.favorite {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -26em;
}
.favorite_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -26em;
}
.hourglass_empty {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -26em;
}
.hourglass_full {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -26em;
}
.lock {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -26em;
}
.lock_open {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -26em;
}
.lock_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -26em;
}
.loyalty {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -26em;
}
.note_add {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -26em;
}
.perm_contact_calendar {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -26em;
}
.power_settings_new {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -28.5em;
}
.settings {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -28.5em;
}
.settings_applications {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -28.5em;
}
.speaker_notes {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -28.5em;
}
.subject {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -28.5em;
}
.thumb_down {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -28.5em;
}
.thumb_up {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -28.5em;
}
.thumbs_up_down {
	width: 1.5em;
	height: 1.5em;
	background-position: -17.5em -28.5em;
}
.trending_down {
	width: 1.5em;
	height: 1.5em;
	background-position: -20em -28.5em;
}
.trending_neutral {
	width: 1.5em;
	height: 1.5em;
	background-position: -22.5em -28.5em;
}
.trending_up {
	width: 1.5em;
	height: 1.5em;
	background-position: -25em -28.5em;
}
.turned_in {
	width: 1.5em;
	height: 1.5em;
	background-position: -27.5em -28.5em;
}
.turned_in_not {
	width: 1.5em;
	height: 1.5em;
	background-position: -30em -28.5em;
}
.view_list {
	width: 1.5em;
	height: 1.5em;
	background-position: -32.5em -28.5em;
}
.view_module {
	width: 1.5em;
	height: 1.5em;
	background-position: -35em -28.5em;
}
.view_quilt {
	width: 1.5em;
	height: 1.5em;
	background-position: -37.5em -28.5em;
}
.view_stream {
	width: 1.5em;
	height: 1.5em;
	background-position: 0 -31em;
}
.work {
	width: 1.5em;
	height: 1.5em;
	background-position: -2.5em -31em;
}
.eject {
	width: 1.5em;
	height: 1.5em;
	background-position: -5em -31em;
}
.camera_enhance {
	width: 1.5em;
	height: 1.5em;
	background-position: -7.5em -31em;
}
.help_outline {
	width: 1.5em;
	height: 1.5em;
	background-position: -10em -31em;
}
.zoom_in {
	width: 1.5em;
	height: 1.5em;
	background-position: -12.5em -31em;
}
.zoom_out {
	width: 1.5em;
	height: 1.5em;
	background-position: -15em -31em;
}
.google {
	width: 2em;
	height: 2em;
	background-position: 0 -33.5em;
}
.google-plus {
	width: 2em;
	height: 2em;
	background-position: -3em -33.5em;
}
.google-plus2 {
	width: 2em;
	height: 2em;
	background-position: -6em -33.5em;
}
.google-plus3 {
	width: 2em;
	height: 2em;
	background-position: -9em -33.5em;
}
.google-drive {
	width: 2em;
	height: 2em;
	background-position: -12em -33.5em;
}
.facebook {
	width: 2em;
	height: 2em;
	background-position: -15em -33.5em;
}
.facebook2 {
	width: 2em;
	height: 2em;
	background-position: -18em -33.5em;
}
.facebook3 {
	width: 2em;
	height: 2em;
	background-position: -21em -33.5em;
}
.instagram {
	width: 2em;
	height: 2em;
	background-position: -24em -33.5em;
}
.twitter {
	width: 2em;
	height: 2em;
	background-position: -42em -33.5em;
}
.twitter2 {
	width: 2em;
	height: 2em;
	background-position: -30em -33.5em;
}
.twitter3 {
	width: 2em;
	height: 2em;
	background-position: -33em -33.5em;
}
.youtube3 {
	width: 2em;
	height: 2em;
	background-position: -36em -33.5em;
}
.youtube4 {
	width: 5em;
	height: 2em;
	background-position: -61.5em -33.5em;
}
.flickr {
	width: 2em;
	height: 2em;
	background-position: -45em -33.5em;
}
.flickr3 {
	width: 2em;
	height: 2em;
	background-position: 0 -36.5em;
}
.dropbox {
	width: 2em;
	height: 2em;
	background-position: -3em -36.5em;
}
.onedrive {
	width: 2em;
	height: 2em;
	background-position: -6em -36.5em;
}
.github {
	width: 2em;
	height: 2em;
	background-position: -9em -36.5em;
}
.github2 {
	width: 2em;
	height: 2em;
	background-position: -12em -36.5em;
}
.github3 {
	width: 2em;
	height: 2em;
	background-position: -15em -36.5em;
}
.github4 {
	width: 2em;
	height: 2em;
	background-position: -18em -36.5em;
}
.github5 {
	width: 2em;
	height: 2em;
	background-position: -21em -36.5em;
}
.wordpress {
	width: 2em;
	height: 2em;
	background-position: -24em -36.5em;
}
.tumblr {
	width: 2em;
	height: 2em;
	background-position: -42em -36.5em;
}
.tumblr2 {
	width: 2em;
	height: 2em;
	background-position: -30em -36.5em;
}
.android2 {
	width: 2em;
	height: 2em;
	background-position: -33em -36.5em;
}
.windows {
	width: 2em;
	height: 2em;
	background-position: -36em -36.5em;
}
.windows8 {
	width: 2em;
	height: 2em;
	background-position: -39em -36.5em;
}
.skype {
	width: 2em;
	height: 2em;
	background-position: -42em -36.5em;
}
.linkedin {
	width: 2em;
	height: 2em;
	background-position: -45em -36.5em;
}
.linkedin2 {
	width: 2em;
	height: 2em;
	background-position: 0 -39.5em
}
.paypal {
	width: 2em;
	height: 2em;
	background-position: -3em -39.5em
}
.chrome {
	width: 2em;
	height: 2em;
	background-position: -6em -39.5em
}
.firefox {
	width: 2em;
	height: 2em;
	background-position: -9em -39.5em
}
.IE {
	width: 2em;
	height: 2em;
	background-position: -12em -39.5em
}
.opera {
	width: 2em;
	height: 2em;
	background-position: -15em -39.5em
}
.safari {
	width: 2em;
	height: 2em;
	background-position: -18em -39.5em
}
