.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-add {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}
.icon-comment {
	width: 32px;
	height: 32px;
	background-position: -48px 0;
}
.icon-continuity {
	width: 32px;
	height: 32px;
	background-position: -96px 0;
}
.icon-continuity-box {
	width: 32px;
	height: 32px;
	background-position: -144px 0;
}
.icon-continuity-circle {
	width: 32px;
	height: 32px;
	background-position: -192px 0;
}
.icon-delete {
	width: 32px;
	height: 32px;
	background-position: -240px 0;
}
.icon-discuss {
	width: 32px;
	height: 32px;
	background-position: -288px 0;
}
.icon-edit {
	width: 32px;
	height: 32px;
	background-position: -336px 0;
}
.icon-health {
	width: 32px;
	height: 32px;
	background-position: -384px 0;
}
.icon-health-box {
	width: 32px;
	height: 32px;
	background-position: -432px 0;
}
.icon-health-circle {
	width: 32px;
	height: 32px;
	background-position: -480px 0;
}
.icon-humanitarian {
	width: 32px;
	height: 32px;
	background-position: -528px 0;
}
.icon-humanitarian-box {
	width: 32px;
	height: 32px;
	background-position: -576px 0;
}
.icon-humanitarian-circle {
	width: 32px;
	height: 32px;
	background-position: -624px 0;
}
.icon-like {
	width: 32px;
	height: 32px;
	background-position: -672px 0;
}
.icon-mail {
	width: 32px;
	height: 32px;
	background-position: -720px 0;
}
.icon-media {
	width: 32px;
	height: 32px;
	background-position: 0 -48px;
}
.icon-news {
	width: 32px;
	height: 32px;
	background-position: -48px -48px;
}
.icon-practice {
	width: 32px;
	height: 32px;
	background-position: -96px -48px;
}
.icon-practice-box {
	width: 32px;
	height: 32px;
	background-position: -144px -48px;
}
.icon-practice-circle {
	width: 32px;
	height: 32px;
	background-position: -192px -48px;
}
.icon-reply {
	width: 32px;
	height: 32px;
	background-position: -240px -48px;
}
.icon-report {
	width: 32px;
	height: 32px;
	background-position: -288px -48px;
}
.icon-research {
	width: 32px;
	height: 32px;
	background-position: -336px -48px;
}
.icon-response {
	width: 32px;
	height: 32px;
	background-position: -384px -48px;
}
.icon-science {
	width: 32px;
	height: 32px;
	background-position: -432px -48px;
}
.icon-science-box {
	width: 32px;
	height: 32px;
	background-position: -480px -48px;
}
.icon-science-circle {
	width: 32px;
	height: 32px;
	background-position: -528px -48px;
}
.icon-search {
	width: 32px;
	height: 32px;
	background-position: -576px -48px;
}
.icon-searchbox {
	width: 32px;
	height: 32px;
	background-position: -624px -48px;
}
.icon-security {
	width: 32px;
	height: 32px;
	background-position: -672px -48px;
}
.icon-security-box {
	width: 32px;
	height: 32px;
	background-position: -720px -48px;
}
.icon-security-circle {
	width: 32px;
	height: 32px;
	background-position: 0 -96px;
}
.icon-share {
	width: 32px;
	height: 32px;
	background-position: -48px -96px;
}
.icon-tag {
	width: 32px;
	height: 32px;
	background-position: -96px -96px;
}
.icon-track {
	width: 32px;
	height: 32px;
	background-position: -144px -96px;
}
.icon-upload {
	width: 32px;
	height: 32px;
	background-position: -192px -96px;
}
.icon-view {
	width: 32px;
	height: 32px;
	background-position: -240px -96px;
}
.icon-VIP {
	width: 32px;
	height: 32px;
	background-position: -288px -96px;
}
.icon-division-01 {
	width: 32px;
	height: 32px;
	background-position: -336px -96px;
}
.icon-division-02 {
	width: 32px;
	height: 32px;
	background-position: -384px -96px;
}
.icon-division-03 {
	width: 32px;
	height: 32px;
	background-position: -432px -96px;
}
.icon-division-04 {
	width: 32px;
	height: 32px;
	background-position: -480px -96px;
}
.icon-division-05 {
	width: 32px;
	height: 32px;
	background-position: -528px -96px;
}
.icon-division-06 {
	width: 32px;
	height: 32px;
	background-position: -576px -96px;
}
.icon-pencil {
	width: 32px;
	height: 32px;
	background-position: 0 -144px;
}
.icon-pencil2 {
	width: 32px;
	height: 32px;
	background-position: -48px -144px;
}
.icon-users {
	width: 36px;
	height: 32px;
	background-position: -96px -144px;
}
.icon-user-plus {
	width: 32px;
	height: 32px;
	background-position: -192px -144px;
}
.icon-user-minus {
	width: 32px;
	height: 32px;
	background-position: -240px -144px;
}
.icon-cancel-circle {
	width: 32px;
	height: 32px;
	background-position: -288px -144px;
}
.icon-cross {
	width: 32px;
	height: 32px;
	background-position: -336px -144px;
}
.icon-checkmark {
	width: 32px;
	height: 32px;
	background-position: -384px -144px;
}
.icon-feed2 {
	width: 32px;
	height: 32px;
	background-position: -432px -144px;
}
.icon-feed4 {
	width: 32px;
	height: 32px;
	background-position: -480px -144px;
}
.icon-linkedin {
	width: 32px;
	height: 32px;
	background-position: -528px -144px;
}
.icon-linkedin2 {
	width: 32px;
	height: 32px;
	background-position: -576px -144px;
}
